<div class="jira-content" style="width:100%; height:100%;">
	<div class="panel-group" style="" >
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h3 class="panel-title" style="">Upload Asset Image</h3>
			</div>
			<div class="panel-body container" style="min-height:240px">
				<form class="form" name="formUploader" novalidate>
					<div class="row form-group">
						<div ng-switch="selectedFile">
							<div ng-switch-when="null">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<label for="fileUploader" class="control-label visible-xs visible-sm visible-md">Browse file
									</label>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<button id="fileUploader" type="button" class="btn btn-primary" ng-click="selectFile()">
										
										Upload
									</button>
									<input type="file" name="file" id="file" style="display:none" 
										onchange="angular.element(this).scope().fileNameChanged(this)"
									/>
								</div>
							</div>
							<div ng-switch-default>
								<div class="col-xs-3 col-sm-3 col-md-3">
									<label  class="control-label visible-xs visible-sm visible-md">File:
									</label>
								</div>
								<div class="col-xs-9 col-sm-9 col-md-9">
									<label class="control-label">
										<span>Name </span> {{selectedFile.name}},
										<span>{{selectedFile.getSize()}} byte</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row form-group">

						<div class="col-md-6">
							<label class="control-label  visible-md">Progress
							</label>
						</div>
						<div class="col-md-6">
							
							<div class="progress progress-striped active">
								<div class="progress-bar" role="progressbar"
									aria-valuenow="{{getPercentage()}}" aria-valuemin="0"
									aria-valuemax="100"
									style="width:{{getPercentage()}}%;">
									<span class="visible-xs visible-sm visible-md">{{getPercentage()}}% Completed</span>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row form-group">						
						<div class="col-xs-6  col-sm-6 col-md-6">
							<button ng-disabled="formUploader.$invalid" style="width:100%" class="btn btn-warning" >
								Upload
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">Asset Management System</div>
		</div>
	</div>
</div>